<!DOCTYPE html>
<html lang='en'>
<head>
	<!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#6D5C80">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#6D5C80">
    <!-- iOS Safari -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Website of Kaustuva Ghosh. Node.js developer, Digital Illustrator">
	<meta name="keywords" content="node.js, digital art, adobe illustrator, web developer, portfolio">
	<meta name="author" content="Kaustuva Ghosh">
	<title>Kaustuva Ghosh - ABOUT</title>
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<noscript>You need Javascript to experience this website.</noscript>

</head>
<body>
	
		
		<nav class="navbar navbar-expand-lg fixed-top">
			

			<a class="navbar-brand" href="http://kaustuvaghosh.in">Kaustuva Ghosh</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  			</button>
			
			<div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end fill" >
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/skills">Skills</a></li>
					<li class="nav-item"><a class="nav-link" href="/onside">ONside!</a></li>										
					<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
				</ul>
			</div>

		</nav>			
		
	
			
			<section id="about">

				<div id="education" class="maincontainer toggletopic ">		
						
						<div class="row">
						    <div class="col-12 col-xl-5 dgpimage text-center">
						      <img src="https://i.imgur.com/EOXznME.png">
						      
						    </div>
						    <div class="col-12 col-xl-7 text-center">
						    	
						      <div class="row topic welcome">
						      	<h1 class="d-block hello">
						      		<a href="#longgoals"><i class="fas fa-chevron-circle-left prev"></i></a>
						      		<a href="#hometown"><i class="fas fa-chevron-circle-right next"></i></a>
						      		Education
						      	</h1>
						      </div>
						      <div class="row mainbio xpadleft">
						      	<h2>NIT DURGAPUR</h2>						      	
						      	<h3 id="unidept">DEPT. OF BIOTECHNOLOGY (BATCH OF ‘16)</h3>
						      	<div class="row details container contactlinks">						      		
						      			<p>  -  President, QuizInc., the official quiz club (2015-16)</p>
						      			<p>  -  Chief Designer & Editor, inaugural edition of <a href="https://www.dropbox.com/s/tt9j6brnpmnifnj/QuizInk%20Edition%201.pdf?dl=0">QuizInk</a>,  the official knowledge yearly (’16)</p>		
						      	</div>
						      	<h2>Border Security Force School, Kadamtala</h2>
						      	<h3>(Batch of '11)</h3>
						      	
						      	<h2>Good Shepherd School, Bagdogra</h2>
						      	<h3>(Batch of '09)</h3>
						      </div>
					      	</div>
					    </div>
					
				</div>
				<div id="hometown" class="maincontainer toggletopic ">		
						
						<div class="row">
						    <div class="col-12 col-xl-5 bagimage text-center">
						      <img src="https://i.imgur.com/ITn8lPm.png">
						      
						    </div>
						    <div class="col-12 col-xl-7 text-center">
						    	
						      <div class="row topic welcome">
						      	<h1 class="d-block hello">
						      	<a href="#education"><i class="fas fa-chevron-circle-left prev"></i></a>
						      	<a href="#work"><i class="fas fa-chevron-circle-right next"></i></a>
						      	Hometown
						      	</h1>
						      </div>

						      <div class="row mainbio xpadleft">
						      	<h2>Bagdogra</h2>						      	
						      	
						      	<div class="row details container bagdetails">						      		
						      			<p> Bagdogra is a census town at the foothills of the Darjeeling Himalayas. Formed as a conglomeration of various villages, it is most famous for it’s airport that was crucial as a link to the northeast.</p>
						      			<p> Being a frontier area it has military and paramilitary establishments in and around the place.</p>		
						      			<p> A part of the Greater Siliguri area, the region is famously known as the Chicken’s neck due to the narrow strip of land that it sits on which connects the north east to the rest of India.</p>
						      			<p> The region is famous for the 4  T’s of Tea, Timber, Tourism and Trade</p>

						      	</div>
						      	
						      	</div>
					      		</div>
					    </div>
					
				</div>
				
				<div id="work" class="maincontainer toggletopic ">		
						
						<div class="row">
						    <div class="col-12 col-xl-5 keyimage text-center">
						      <img src="https://i.imgur.com/RZgOGG2.png">						      
						    </div>
						    <div class="col-12 col-xl-7 text-center">
						    	
							      <div class="row topic welcome">
							      	<h1 class="d-block hello">
							      		<a href="#hometown"><i class="fas fa-chevron-circle-left prev"></i></a>
						      			<a href="#shortgoals"><i class="fas fa-chevron-circle-right next"></i></a>
						      			Work
						      		</h1>						      	
							      </div>
							      	<div class="row mainbio xpadleft">
										<h2>Luxury Escapes Pty. Ltd., Sydney, Australia</h2>						      	
										<h3 id="unidept">Software Engineer</h3>
										<h3>2023-2025</h3>
											<div class="row details container workdetails">						      		
													<p> -Implemented dynamic credit card fee calculations to allow the business to pass these costs to the spender.</p>
													<p> -Joined the Tours vertical. Led the feature of automating the passenger trip itinerary pdf generation from a manual process, earlier outsourced to a team</p>
													<p> -Implemented tagged e2e tests to reduce deployment times for the related services..</p>
													<p> -Implemented purchase flows for various ancillary products and add-ons.</p>
													<p> -Experience in working closely with CRM(Salesforce) developers on various features</p>
												<!-- TO-DO change above to include popup dialog with:  More info  -->
											</div>						      	
										<h2>Luxury Escapes Pty. Ltd. (remotely via Patona Digital Pvt. Ltd., Pune, India)</h2>						      	
										<h3 id="unidept">Software Engineer</h3>
										<h3>2021-2023</h3>
											<div class="row details container workdetails">						      		
													<p> -Back-end engineer for Customer Payment Systems</p>
													<p> -Implemented various payment integrations and Luxury Escape's first in-house payment instalment system..</p>
													<p> -Worked closely with the fraud detectionteam to implement fraud protection measures.</p>
													<p> -Developed solutions for conversion and precision issues with Frequent Flyer (loyalty points) integration..</p>
													<!-- TO-DO change above to include popup dialog with:  More info  -->
											</div>					      	
										<h2>Coditation Systems, Pune, India</h2>						      	
										<h3 id="unidept">Associate Software Engineer</h3>
										<h3>2019-2020</h3>
											<div class="row details container workdetails">						      		
													<p> -Back-end engineer for California based marketing tech client, TapClicks</p>
													<p> -Experience with Django, working for an analytics dashboard prototype.</p>
													<p> -Junior front-end engineer for a React based video conferencing tool.</p>
													<!-- TO-DO change above to include popup dialog with:  More info  -->
											</div>						      	
								      	<h2>Tech Mahindra Ltd., Pune, India</h2>						      	
								      	<h3 id="unidept">Associate Software Engineer</h3>
								      	<h3>2016-2018</h3>
									      	<div class="row details container workdetails">						      		
									      			<p> -Mainframe Developer for AT&T’s Retail and Billing systems in the US midwest</p>
													<!-- TO-DO change above to include popup dialog with:  Runner’s Up, HDFC Football Mania Inter-Corporate league (Pune leg) for TechMahindra. -->
									      	</div>						      	
						      		</div>
					      	</div>
					    </div>
					
				</div>
				<div id="shortgoals" class="maincontainer toggletopic">		
						
						<div class="row">
						    <div class="col-12 col-xl-5 netawardimage text-center">
						      <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Go_Logo_Blue.svg">						      
						    </div>
						    <div class="col-12 col-xl-7 text-center">
						    	
							      <div class="row topic welcome">
							      	<h1 class="d-block hello">
							      	<a href="#work"><i class="fas fa-chevron-circle-left prev"></i></a>
						      		<a href="#longgoals"><i class="fas fa-chevron-circle-right next"></i></a>
						      		Short Term Goals
						      	</h1>						      	
							      </div>

							      	<div class="row mainbio xpadleft shortdetails">
								      							      	
								      	<h3 id="unidept">Learn Go</h3>
								      	<h3 id="unidept">Be an AWS Certified Solutions Architect Associate </h3>
								      	<h3 id="unidept">Migrate this website to React</h3>
										<h3 id="unidept">Win a half-marathon</h3>
										<h3 id="unidept">Learn to <a href="https://en.wikipedia.org/wiki/Melbourne_shuffle">Melbourne shuffle</a></h3>
						      		</div>
					      	</div>
					    </div>
					
				</div>
				<div id="longgoals" class="maincontainer toggletopic ">		
						
						<div class="row">
						    <div class="col-12 col-xl-5 damimage text-center">
						      <img src="https://i.imgur.com/0K1UkGB.png">						      
						    </div>
						    <div class="col-12 col-xl-7 text-center">
						    	
							      <div class="row topic welcome">
							      	<h1 class="d-block hello">
							      	<a href="#shortgoals"><i class="fas fa-chevron-circle-left prev"></i></a>
						      		<a href="#education"><i class="fas fa-chevron-circle-right next"></i></a>
						      		Long Term Goals
						      	</h1>						      	
							      </div>

							      	<div class="row mainbio xpadleft longdetails">
								      	<h3 id="unidept">Gain work experience in the Agri-tech sector</h3>						      	
								      	<h3 id="unidept">Be an expert generalist</h3>
										<h3 id="unidept">Be an APM master</h3>
								      	<h3 id="unidept">Learn to make electronic music ( future garage )</h3>								      						      	
						      		</div>
					      	</div>
					    </div>
					
				</div>			
			</section>
	
	


	
</body>
</html>
