<!DOCTYPE html>
<html lang='en'>
<head>
	<!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#6D5C80">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#6D5C80">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Website of Kaustuva Ghosh. Node.js developer, Digital Illustrator">
	<meta name="keywords" content="node.js, digital art, adobe illustrator, web developer, portfolio">
	<meta name="author" content="Kaustuva Ghosh">
	<title>Kaustuva Ghosh - Developer/Designer/Learner</title>
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<noscript>You need Javascript to experience this website.</noscript>

</head>
<body>
	
		
		<nav class="navbar navbar-expand-lg fixed-top">

			

			<a class="navbar-brand" href="http://kaustuva.online">Kaustuva Ghosh</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  			</button>
			
			<div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end fill" >
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/skills">Skills</a></li>
					<li class="nav-item"><a class="nav-link" href="/onside">ONside!</a></li>										
					<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
				</ul>
			</div>

		</nav>	

			<section id="home">
				<div class="maincontainer">		
					
						<div class="row">
						    <div class="col-12 col-xl-4 myimage text-center">
						      <img src="https://i.imgur.com/90Bx0Wb.jpg">
						      
						    </div>
						    <div class="col-12 col-xl-8 text-center">
						      <div class="row welcome">
						      	<h1 class="d-block hello">Hello!</h1>
						      	<h1 class="d-block myname">I'm Kaustuva</h1>
						      </div>
						      <div class="row mainbio">
						      	<h2>I am a Full Stack Developer and Designer from India, currently based out of Sydney, Australia.</h2>
						      	<div class="row description">
						      		<div class="col-6">
						      			<p>I am passionate about building online solutions that bring delight to their users.</p>
						      		</div>
						      		<div class="col-6">
						      			<p>I am currently working at being an expert generalist.</p>
						      		</div>
						      	</div>
						      	<div class="row description desktoponly">
						      		<div class="col-6">
						      			<p>I was born in Siliguri in the foothills of the picturesque Darjeeling Himalayas and hail from the nearby settlement of Bagdogra. </p>
						      		</div>
						      		<div class="col-6">
						      			<p>I enjoy making illustrations, good tea, football.</p>
						      		</div>
						      	</div>
						      	<h3>Welcome to my site.</h3>
						      	<h3>This website is colour blind friendly.</h3>
					      </div>
					    </div>
					
				</div>
			</section>
	
</body>
</html>
