<!DOCTYPE html>
<html lang='en'>
<head>
	<!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#6D5C80">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#6D5C80">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Website of Kaustuva Ghosh. Node.js developer, Digital Illustrator">
	<meta name="keywords" content="node.js, digital art, adobe illustrator, web developer, portfolio">
	<meta name="author" content="Kaustuva Ghosh">
	<title>Kaustuva Ghosh - ONSIDE</title>
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="./styles.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<noscript>You need Javascript to experience this website.</noscript>

</head>
<body>
	
		
		<nav class="navbar navbar-expand-lg fixed-top">

			

			<a class="navbar-brand" href="http://kaustuvaghosh.in">Kaustuva Ghosh</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  			</button>
			
			<div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end fill" >
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/skills">Skills</a></li>
					<li class="nav-item"><a class="nav-link" href="/onside">ONside!</a></li>										
					<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
				</ul>
			</div>

		</nav>		

			<section id="onside">
				<div class="maincontainer">
					<div class="brand-container text-center">
						<img class="w-50" src="https://i.imgur.com/ECvZB22.png">
					</div>
					<div class="row mt-4 overview mainbio py-5 mx-0">
						<div class="col-12 col-lg-6 chatshot text-center">
							<img class="w-md-50"src="https://i.imgur.com/gFjzjWk.jpg">
						</div>
						<div class="col-12 col-lg-6  onverview mt-auto pt-3">
							<p class="text-right w-80 ml-auto">If you are an urban football enthusiast not affiliated to a local football club, this is a situation you have very likely experienced.</p>
							<p class="text-left w-80">With, the growing popularity of football in India and the boom of football turfs, we @ kausmos studio have decided to take on problems like this in a pep way (no pun, the site is actually more Dyche-y looking).</p>
							<p class="text-right w-80 ml-auto">Presenting to you, ONside, a platform to book your football slots and interact with fellow enthusiasts</p>
						</div>
					</div>
					
					<!--CURRENT FEATURES SECTION-->
					<div class="row onsidesection mx-0 mt-5">
						<div class="col-12 appcaption text-center">
						      	<h1 class=" d-block hello">Features</h1>
						      	<h4> Current Release</h4>
						</div>
					</div>
					
					<!--FEATURE 1-->
					<div class="row currentftrs mainbio mt-2 mx-0">
						<div class="col-12 col-lg-6 appshot text-center">
						      	<img class="w-md-50" src="https://media.giphy.com/media/IdfyLoJmo9sFu2Xwef/giphy.gif">
						</div>
						<div class="col-12 col-lg-6 appfeature mt-auto pt-3">
						      	<h4>Authentication</h4>
						      	<p>Web-based authentication utilizing Passport.js.</p>
						      	<p> MongoDB database/Mongoose ODM utilized to store user details.</p>
						</div>
						
					</div>
					
					<!--FEATURE 2-->
					<div class="row currentftrs mainbio flex-lg-row-reverse mx-0">
						<div class="col-12 col-lg-6 appshot text-center">
						      	<img class="w-md-50" src="https://media.giphy.com/media/WNhRS8brJRBmzxtp2i/giphy.gif">
						</div>
						<div class="col-12 col-lg-6 appfeature mt-auto pt-3 text-lg-right">
						      	<h4>Profiles</h4>
						      	<p>Introduce yourself to other footballers</p>
						      	<p>Connect with fellow enthusiasts. Build new bonds.</p>
						      	<p>Gender Neutral.</p>
						</div>
						
					</div>
					
					<!--FEATURE 3-->
					<div class="row currentftrs mainbio mx-0">
						<div class="col-12 col-lg-6 appshot text-center">
						      	<img class="w-md-50" src="https://media.giphy.com/media/RIvJz6V6i9g8PxGfXi/giphy.gif">
						</div>
						<div class="col-12 col-lg-6 appfeature mt-auto pt-3">
						      	<h4>Booking</h4>
						      	<p>Book Slots. Bring Friends. Check fot Vacancies. Check profiles of fellow players.</p>
						      	<p>MongoDB database/Mongoose ODM utilized to store slot details.</p>
						      	<p>RESTful Routing for wasy navigation of the application.</p>
						</div>
						
					</div>
					<!--FEATURE 4-->
					<div class="row currentftrs mainbio flex-lg-row-reverse mx-0">
						<div class="col-12 col-lg-6 appshot text-center">
						      	<img class="w-md-50" src="https://media.giphy.com/media/YPVO6hltbnb1M7YZso/giphy.gif">
						</div>
						<div class="col-12 col-lg-6 appfeature mt-auto pt-3 text-lg-right">
						      	<h4>Messages</h4>
						      	<p>Interact and socialize with fellow football enthusiasts</p>
						      	<p>Chat server to soon be upgraded to utilize web sockets for realtime notifications.</p>
						      	<p>Upcoming update: share formations and strategize via messages..</p>
						</div>
						
					</div>
					<!--UPCOMING FEATURES SECTION-->
					<div class="row onsidesection mx-0 mt-5">
						<div class="col-12 appcaption text-center">
						      	<h1 class=" d-block hello">Features</h1>
						      	<h4>Upcoming Releases</h4>
						</div>
					</div>
					<div class="d-flex flex-wrap justify-content-between align-items-center">
						<div class="upcomingbox my-2 mx-auto py-5 px-2">
							<h3 class="banter">BANTER</h3>
							<p>Common chatrooms to immerse yourself in the buzz. Expect it to be brightly lit up during football season.</p>
						</div>
						<div class="upcomingbox my-2 mx-auto py-5 px-2">
							<h3>LEADERBOARD</h3>
							<p>Rate your fellow players. Leaders of each months receive badges. Badges translate to rewards.</p>
						</div>
						<div class="upcomingbox my-2 mx-auto py-5 px-2">
							<h3>Payments</h3>
							<p>Common payment gateways for hassle free online payments.</p>
						</div>
						<div class="upcomingbox my-2 mx-auto py-5 px-2">
							<h3>Blocking</h3>
							<p>Report improper behaviour.</p>
							<p>Confirmed offenders get blocked.</p>
						</div>
					</div>
					
					<!--VALUES SECTION-->
					<div class="row onsidesection mx-0 mt-5">
						<div class="col-12 appcaption text-center">
						      	<h1 class=" d-block hello">values</h1>
						      	<h4>When onside works best</h4>
						</div>
					</div>
					<div class="row currentftrs mainbio mt-2 mx-0">
						<div class="col-12 appfeature mt-auto pt-3 text-center">
						      	
						      	<p>ONSIDE, not unlike football, operates best on the currency of RESPECT!!</p>
						      	<p>We take exception to any form of discrimination on the basis of gender, religion, caste, community, appearance. We encourage and expect people to conduct themselves with dignity and have the spirit of healthy competition.</p>
						      	<p>Our gates are closed for bullies.</p>
						</div>
						<div class="col-12 col-lg-6 appshot text-center my-2">
						      	<img class="w-md-50" src="https://media.giphy.com/media/SYRZUzZt8gTWNkBiIE/giphy.gif">
						</div>
						<div class="col-12 col-lg-6 appshot text-center my-2">
						      	<img class="w-md-50" src="https://media.giphy.com/media/Pk2yqDt850m59yEtcH/giphy.gif">
						</div>
						
						
					</div>
					<!--LINK SECTION-->
					<div class="row onsidesection mx-0 mt-5">
						<div class="col-12 appcaption text-center">
						      	<h1 class=" d-block hello">...</h1>
						      	<button class="visitbtn">VISIT ONSIDE</button>
						</div>
					</div>
				</div>			
			</section>	
	


	
</body>
</html>
